// Place all the styles related to the UserMovies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-thumb {
  max-width: 230px;

  img {
    width: 100%;
    margin-bottom: 10px;
  }
}
